*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
}
.container{
    width: 96%;
    height: 20px;
    margin-top:20px;
}
.head-btn a{
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid gray;
    color: black;
}
.head-btn li{
    float: left;
    list-style: none;
    float: right;
}
.half-width{
    display: block;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 40px;   
}
h1{
    color: #363958;
    font-size: 50px;
    margin-top: 80px;
}
h2{
    color: #FF8367;
    font-size: 50px;
}
img{
    width: 100%;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(  tomato, lightsalmon);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700px;
}
#about{
    color: #363958;
    font-size: 45px;
    margin-top: 80px;
}
span{
    color: orange;
}
section{
    width: 100%;
    height: 600px;
}
.lastet{
    width: 100%;
}
span{
    color: #363958;
}
.lastet h2{
    text-align: center;
    font-size: 35px;
}
.box{
    width: 80%;
    margin: auto;
}
.child-box{
    float: left;
    width: 27%;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.705);
    margin-left: 35px;
    border-radius: 15px;
    padding: 15px;
}
.child-box img{
    width: 100%;
}